In [1]:
from tqdm import tqdm
from database.sec import SEC
from pandas import DataFrame
from transformer.sec_transformer import SECTransformer
import pandas as pd
from datetime import datetime

In [2]:
sec = SEC("sec")

In [12]:
inflation_rates = pd.read_html("https://www.usinflationcalculator.com/inflation/current-inflation-rates/",header=0)

In [13]:
inflation_rates[0]

    Year  Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec  Ave
0   2020  2.5  2.3  1.5  0.3  0.1  0.6  1.0  1.3  NaN  NaN  NaN  NaN  NaN
1   2019  1.6  1.5  1.9  2.0  1.8  1.6  1.8  1.7  1.7  1.8  2.1  2.3  1.8
2   2018  2.1  2.2  2.4  2.5  2.8  2.9  2.9  2.7  2.3  2.5  2.2  1.9  2.4
3   2017  2.5  2.7  2.4  2.2  1.9  1.6  1.7  1.9  2.2  2.0  2.2  2.1  2.1
4   2016  1.4  1.0  0.9  1.1  1.0  1.0  0.8  1.1  1.5  1.6  1.7  2.1  1.3
5   2015 -0.1  0.0 -0.1 -0.2  0.0  0.1  0.2  0.2  0.0  0.2  0.5  0.7  0.1
6   2014  1.6  1.1  1.5  2.0  2.1  2.1  2.0  1.7  1.7  1.7  1.3  0.8  1.6
7   2013  1.6  2.0  1.5  1.1  1.4  1.8  2.0  1.5  1.2  1.0  1.2  1.5  1.5
8   2012  2.9  2.9  2.7  2.3  1.7  1.7  1.4  1.7  2.0  2.2  1.8  1.7  2.1
9   2011  1.6  2.1  2.7  3.2  3.6  3.6  3.6  3.8  3.9  3.5  3.4  3.0  3.2
10  2010  2.6  2.1  2.3  2.2  2.0  1.1  1.2  1.1  1.1  1.2  1.1  1.5  1.6
11  2009  0.0  0.2 -0.4 -0.7 -1.3 -1.4 -2.1 -1.5 -1.3 -0.2  1.8  2.7 -0.4
12  2008  4.3  4.0  4.0  3.9  4.2  5.0  5.6  5.4  4.9  3.7  1.1  0.1  3.8
13  2007  2.1  2.4  2.8  2.6  2.7  2.7  2.4  2.0  2.8  3.5  4.3  4.1  2.8
14  2006  4.0  3.6  3.4  3.5  4.2  4.3  4.1  3.8  2.1  1.3  2.0  2.5  3.2
15  2005  3.0  3.0  3.1  3.5  2.8  2.5  3.2  3.6  4.7  4.3  3.5  3.4  3.4
16  2004  1.9  1.7  1.7  2.3  3.1  3.3  3.0  2.7  2.5  3.2  3.5  3.3  2.7
17  2003  2.6  3.0  3.0  2.2  2.1  2.1  2.1  2.2  2.3  2.0  1.8  1.9  2.3
18  2002  1.1  1.1  1.5  1.6  1.2  1.1  1.5  1.8  1.5  2.0  2.2  2.4  1.6
19  2001  3.7  3.5  2.9  3.3  3.6  3.2  2.7  2.7  2.6  2.1  1.9  1.6  2.8
20  2000  2.7  3.2  3.8  3.1  3.2  3.7  3.7  3.4  3.5  3.4  3.4  3.4  3.4

In [8]:
ir = inflation_rates[0].fillna(0)
sec.connect()
sec.store_data("inflation_rates",ir)
sec.close()

sec inflation_rates documents must have only string keys, key was 0

In [9]:
ir

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Ave
1,2020,2.5,2.3,1.5,0.3,0.1,0.6,1.0,1.3,0,0,0,0,0
2,2019,1.6,1.5,1.9,2.0,1.8,1.6,1.8,1.7,1.7,1.8,2.1,2.3,1.8
3,2018,2.1,2.2,2.4,2.5,2.8,2.9,2.9,2.7,2.3,2.5,2.2,1.9,2.4
4,2017,2.5,2.7,2.4,2.2,1.9,1.6,1.7,1.9,2.2,2.0,2.2,2.1,2.1
5,2016,1.4,1.0,0.9,1.1,1.0,1.0,0.8,1.1,1.5,1.6,1.7,2.1,1.3
6,2015,-0.1,0.0,-0.1,-0.2,0.0,0.1,0.2,0.2,0.0,0.2,0.5,0.7,0.1
7,2014,1.6,1.1,1.5,2.0,2.1,2.1,2.0,1.7,1.7,1.7,1.3,0.8,1.6
8,2013,1.6,2.0,1.5,1.1,1.4,1.8,2.0,1.5,1.2,1.0,1.2,1.5,1.5
9,2012,2.9,2.9,2.7,2.3,1.7,1.7,1.4,1.7,2.0,2.2,1.8,1.7,2.1
10,2011,1.6,2.1,2.7,3.2,3.6,3.6,3.6,3.8,3.9,3.5,3.4,3.0,3.2
11,2010,2.6,2.1,2.3,2.2,2.0,1.1,1.2,1.1,1.1,1.2,1.1,1.5,1.6
12,2009,0,0.2,-0.4,-0.7,-1.3,-1.4,-2.1,-1.5,-1.3,-0.2,1.8,2.7,-0.4
13,2008,4.3,4.0,4.0,3.9,4.2,5.0,5.6,5.4,4.9,3.7,1.1,0.1,3.8
14,2007,2.1,2.4,2.8,2.6,2.7,2.7,2.4,2.0,2.8,3.5,4.3,4.1,2.8
15,2006,4.0,3.6,3.4,3.5,4.2,4.3,4.1,3.8,2.1,1.3,2.0,2.5,3.2
16,2005,3.0,3.0,3.1,3.5,2.8,2.5,3.2,3.6,4.7,4.3,3.5,3.4,3.4
17,2004,1.9,1.7,1.7,2.3,3.1,3.3,3.0,2.7,2.5,3.2,3.5,3.3,2.7
18,2003,2.6,3.0,3.0,2.2,2.1,2.1,2.1,2.2,2.3,2.0,1.8,1.9,2.3
19,2002,1.1,1.1,1.5,1.6,1.2,1.1,1.5,1.8,1.5,2.0,2.2,2.4,1.6
20,2001,3.7,3.5,2.9,3.3,3.6,3.2,2.7,2.7,2.6,2.1,1.9,1.6,2.8
21,2000,2.7,3.2,3.8,3.1,3.2,3.7,3.7,3.4,3.5,3.4,3.4,3.4,3.4

In [2]:
data = DataFrame([{"message":"hello world"}])
sec.connect()
sec.store_data("test",data)
sec.close()

In [4]:
sec.connect()
for i in range(2020,2021):
    for j in range(3,4):
        print(i,j)
        try:
            sect = SECTransformer(i,j)
            num = sect.transform("num")
            sub = sect.transform("sub")
            sec.store_data("nums",num)
            sec.store_data("subs",sub)
        except Exception as e:
            print(i,j,str(e))
            continue
sec.close()

2020 3

In [7]:
sub["filed"] = [datetime.strptime(str(x), "%Y%m%d") for x in sub["filed"]]

In [8]:
sub.sort_values("filed",ascending=False)

,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,bas2,...,period,fy,fp,filed,accepted,prevrpt,detail,instance,nciks,aciks
3460,0001046025-20-000157,1046025,HERITAGE FINANCIAL CORP /WA/,6036.0,US,WA,OLYMPIA,98501,201 FIFTH AVENUE S.W.,P O BOX 1578,...,20200630.0,NaN,NaN,2020-06-30,2020-06-30 10:25:00.0,0,0,form8-k063020_htm.xml,1,NaN
9343,0001213900-20-016186,1173313,AMERICAN BRIVISION (HOLDING) CORP,2834.0,US,CA,FREMONT,94538,44370 OLD WARM SPRINGS BLVD.,NaN,...,20200331.0,2020.0,Q1,2020-06-30,2020-06-29 18:56:00.0,0,1,abvcd-20200331.xml,1,NaN
9345,0001213900-20-016245,1425287,WORKHORSE GROUP INC.,3711.0,US,OH,LOVELAND,45140,100 COMMERCE DRIVE,NaN,...,20200630.0,NaN,NaN,2020-06-30,2020-06-30 09:14:00.0,0,0,ea123652-8k_workhorse_htm.xml,1,NaN
9346,0001213900-20-016262,1669400,"VERITAS FARMS, INC.",100.0,US,FL,FORT LAUDERDALE,33301,1512 E. BROWARD BLVD,SUITE 300,...,20200331.0,2020.0,Q1,2020-06-30,2020-06-30 12:29:00.0,0,1,vfrm-20200331.xml,1,NaN
9347,0001213900-20-016296,1629606,"DRIVEN DELIVERIES, INC.",8742.0,US,CA,EL SEGUNDO,90245,134 PENN STREET,NaN,...,20200331.0,2020.0,Q1,2020-06-30,2020-06-30 16:03:00.0,0,1,drvd-20200331.xml,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6567,0001193125-20-094141,72903,XCEL ENERGY INC,4931.0,US,MN,MINNEAPOLIS,55401,414 NICOLLET MALL,NaN,...,20200331.0,NaN,NaN,2020-04-01,2020-04-01 12:26:00.0,0,0,d908710d8k_htm.xml,1,NaN
6568,0001193125-20-094164,938323,PEARSON PLC,2731.0,GB,NaN,LONDON ENGLAND,WC2R 0RL,80 STRAND,NaN,...,20191231.0,2019.0,FY,2020-04-01,2020-04-01 12:44:00.0,0,1,pso-20191231.xml,1,NaN
6569,0001193125-20-094235,1584549,"VILLAGE FARMS INTERNATIONAL, INC.",100.0,CA,NaN,"DELTA, BRITISH COLUMBIA",V4K 3N3,4700 - 80TH STREET,NaN,...,20191231.0,2019.0,FY,2020-04-01,2020-04-01 13:36:00.0,0,1,vff-20191231.xml,1,NaN
6570,0001193125-20-094601,31791,PERKINELMER INC,3826.0,US,MA,WALTHAM,02451,940 WINTER STREET,NaN,...,20200331.0,NaN,NaN,2020-04-01,2020-04-01 16:06:00.0,0,0,d907315d8k_htm.xml,1,NaN
6588,0001193125-20-094782,87347,SCHLUMBERGER LIMITED/NV,1389.0,US,TX,HOUSTON,77056,5599 SAN FELIPE,17TH FLOOR,...,20200331.0,NaN,NaN,2020-04-01,2020-04-01 17:19:00.0,0,0,d913820d8k_htm.xml,1,NaN